h1{
    text-align: center;
}

#row{
    text-align: center;
}

.display_dog{
    border: 1px solid grey;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
}

.display_dog img{
    width: 500px;
    height: 500px;
}


.display_subdog{
    border: 1px solid grey;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
}

.display_subdog img{
    width: 500px;
    height: 500px;
}